#navbar_logo {
	height: 40px;
}

.col {
	border: solid black lpx;
}

.footer {
	background-color: rgba(52, 149, 228, 0.731);
	border-radius: 5px;
	padding-bottom: 5px;
}

body {
	background-image: url("images/background.webp");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.row {
	margin: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	border-radius: 5px;
}
	
.downsize {
	width: 25%;
	height: 25%;
}

.block {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }